<h4>Contactez-nous</h4><br/>
Pour toute question sur nos services, la gestion des risques , n’hésitez pas à nous contacter via l’un de nos représentants ou notre formulaire en ligne.
<form>
    <div class="form-group">
      <div class="form-group col-md-6">
        <label for="inputEmail4"></label>
        <input type="nom" class="form-control" id="inputEmail4" placeholder="nom">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4"></label>
        <input type="courriel" class="form-control" id="inputPassword4" placeholder="courriel">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4"></label>
        <input type="sujet" class="form-control" id="inputPassword4" placeholder="sujet">
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="message"></textarea>
      </div>
      <button type="button" class="btn btn-lg btn-primary" disabled><H3>Contactez-nous</H3></button>
      
      
    </div>
</form>