
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-updateR-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
    <h2 class="my-3">update un risque</h2>
    <form class="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label for="evenclenchant">Événement déclenchant</label>
                    <input type="string" required [(ngModel)]="risque.evenclenchant" name="evenclenchant" class="form-control">
                </div>
                <div class="col-sm-6">
                    <label for="type">type</label>
                    <input type="string" required [(ngModel)]="risque.type" name="type" class="form-control">
                </div>
                <div class="col-sm-6">
                    <label for="explmsr">Exemples de mesures</label>
                    <input type="string" required [(ngModel)]="risque.explmsr" name="explmsr" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="categorie">Catégorie</label>
            <select [(ngModel)]="risque.categorie" name="categorie" class="form-control custom-select mr-sm-2" required>
                <option *ngFor="let categorie of categories" [ngValue]="categorie" class="form-control">
                    {{categorie.nom}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-user btn-block">modifier</button>
        </div>
    </form>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

