<div class="container-fluid">
  <div class="row my-3">
    <div class="col-xl-4 col-lg-5 col-sm-12 col-xs-12">
      <h2 class="text-center">Liste des catégories <span class="badge badge-info">{{categories?.length}}</span></h2>
      <button  class="btn btn-primary btn-sm my-1" [routerLink]="['/ajouter-categorie']">Ajouter une catégorie</button>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th >Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categorie of categories">
              <td>{{categorie.id}}</td>
              <td>{{categorie.nom}}</td>
              <td >
                <button class="btn btn-warning btn-sm mx-2" [routerLink]="['/modifier-categorie',categorie.id]">Modifier</button>
                <button class="btn btn-danger btn-sm" (click)="deleteCategorie(categorie)">Supprimer</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-8 col-lg-7 col-sm-12 col-xs-12">
      <h2 class="text-center">Liste des risques <span class="badge badge-info">{{risques?.length}}</span></h2>
      <button  class="btn btn-primary btn-sm my-1" [routerLink]="['/ajouter-risque/']">Ajouter un risque</button>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Événement déclenchant</th>
            <th scope="col">type</th>
            <th scope="col">Exemples de mesures</th>
            <th scope="col">Catégorie</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produit of produits">
              <td>{{risque.id}}</td>
              <td>{{risque.evenclenchant}}</td>
              <td>{{risque.type}} DT</td>
              <td>{{risque.explmsr}} DT</td>
              <td>{{risque.categorie.nom}}</td>
              <td >
                <button class="btn btn-warning btn-sm mx-2" [routerLink]="['/modifier-produit',produit.id]">Modifier</button>
                <button class="btn btn-danger btn-sm" (click)="deleteProduit(produit)">Supprimer</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>