
<div style="text-align: center" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-profile-image"></div>
            
    <div class="page-header page-header-small" filter-color="Info">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/stb5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">elyes</h3>
                <p class="category">Programmer</p>
            
                <div class="content">
                    
                    <div class="social-description">
                        <h2>10</h2>
                        <p> <i class="now-ui-icons objects_diamond"></i>       Mes points  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          
          <h3 class="title">À propos de moi</h3>
          <h5 class="description">Adresse de corriel: bassetine manihla  <br> Numéro de telephone : 27032932 <br> Adresse : 2050 cite bassetine   <br> Date de naissance :07/08/1996  <br> Poste : 5045  <br> Département :    <br> Etat civile : celib  </h5>
          <div class="typography-line">
            
            <blockquote>
                <p class="blockquote blockquote-primary">
                              Membre de famille :hassnoui <br> Nom et Prénom de conjoint : <br> Les enfants : 0 <br> 
                    <br>
                    <br>
                   
                    
                   
                </p>

                 
            </blockquote>

           
           
        </div>
       
                
                
                <div class="button-container">
                    <a href="#button" class="btn btn-info btn-round btn-lg">Modifier</a>
                    
                </div>
                <div class="col-md-12" >
                    <h4 class="title text-center">My Portfolio</h4>
                   
                </div>
        </div>
    </div>
        </div>
        </div>
        